.userbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 35px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f7cfc6;
}

.userName {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 14px;
}