.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d60435;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}