ul {
    list-style: none;
}

li a {
    text-decoration: none;
    outline: none;
    background-color: #b8783d;
    padding: 5px;
    margin: 10px;
    color: #fff;
    border-radius: 4px;
    :hover {
        color: #fad3ca;
    }
}

.menuContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}