ul {
    list-style: none;
}

li a {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    background-color: #b8783d;
    padding: 3px;
    margin: 3px;
    color: #fff;
    border-radius: 4px;
    :hover {
        color: #fad3ca;
    }
}

.menuContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}