.main_formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff5f2;
}

.main_formBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 8px;
    background-color: #a84220;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main_titleRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a84220;
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff5f2;
}

.form_authButton {
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 35px;
    background-color: #b8783d;
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    :hover {
        background-color: #fad3ca;
    }
}
.form_formContent {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fad3ca;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}